VITE_FIREBASE_API_KEY=replace-with-your-key
VITE_FIREBASE_AUTH_DOMAIN=cardwebsite-4be73.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cardwebsite-4be73
VITE_FIREBASE_STORAGE_BUCKET=cardwebsite-4be73.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=217295192911
VITE_FIREBASE_APP_ID=1:217295192911:web:d31d8246cc1004dfdcbb3a
VITE_FIREBASE_MEASUREMENT_ID=G-BLWDK5N98L



